:root {
    font-family: system-ui, Avenir, Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    font-weight: 400;
   
   
    color-scheme: light dark;
    color: rgba(192, 90, 90, 0.87);
    background-color: #f3a07d;
   
   
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
   
   
   
   
   
   
   body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    }
   
   
   h1 {
    font-size: 3.2em;
    line-height: 1.1;
   }
   
   
   #app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
   }
   
   
   card {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #c0e3b9;
    cursor: pointer;
    transition: border-color 0.25s;
   }
   card:hover {
    border-color: #9fdfa0;
   }
   card:focus,
   card:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
   }
   
   
   @media (prefers-color-scheme: light) {
    :root {
      color: #b4ae80;
      background-color: #f3c391;
    }
    a:hover {
      color: #ea8181;
    }
    card {
      background-color: #b7da9a;
    }
   }
   
   
   <style>
    a:link {
    color: rgb(0, 128, 0);
    background-color: transparent;
    text-decoration: none;
   }
   
   
    a:visited {
      color: rgb(20, 141, 84);
      background-color: transparent;
      text-decoration: none;
   }
   
   
    a:hover {
      color: red;
      background-color: transparent;
      text-decoration: underline;
   }
   
   
    a:active {
      color: yellow;
      background-color: transparent;
      text-decoration: underline;
   }
   </style> 